<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Limb Catalogs | {{ data.title }}</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="button inline fl-l"><a href="/">Главная страница</a></div>
        <div class="button inline fl-l"><a href="/about/">Информация</a></div>
        <div class="button inline fl-l"><a href="/cabinet/">Личный кабинет</a></div>
        <div class="button inline fl-r"><a href="/contacts/">Контакты</a></div>
    </div>
    <div class="body">
        <h1>{{ data.h1 }}</h1>
        <div class="content">
            <div class="caption">Наши телефоны</div>
            {% for elem in data.data.phones recursive %}
                <div class="caption f-s16">
                    {{ elem.status }}
                </div>
                <div class="elements elem-button inline"> {{elem.name}} </div>
                <div class="elements elem-button inline"> {{elem.value}} </div>
            {% endfor %}
        </div>
        <div class="content">
            <div class="caption">Наши адреса</div>
            {% for elem in data.data.addresses recursive %}
                <div class="elements elem-button inline"> {{elem.value}} </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>