<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Limb Catalogs | {{ data.title }}</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="button inline fl-l"><a href="/">Главная страница</a></div>
        <div class="button inline fl-l"><a href="/about/">Информация</a></div>
        <div class="button inline fl-l"><a href="/cabinet/">Личный кабинет</a></div>
        <div class="button inline fl-r"><a href="/contacts">Контакты</a></div>
    </div>
    <div class="body">
        <h1>{{ data.h1 }}</h1>
        <div class="news-block">
            {% for n in data.news recursive %}
                <div class="news-item ">
                    <div class="news-head no-inline">
                        <div class="news-title inline fl-l"> {{ n.title }} </div>
                        <div class="date-time inline fl-r">{{ n.data }}</div>
                    </div>
                    <div class="news-body no-inline">{{ n.text }}</div>
                </div>

            {% endfor %}

        </div>
    </div>
</body>
</html>